:root {
    --white: #fffdfd;
    --black: #0c0303;
    --grey: #BFBFBD;
    --primary: #8C644D;
    --secondary:#BFAC9B;
    --action-colour: #c4512c;
    --action-colour-hover: #cc4a20;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);
}
/*font sizes*/
body{
    font-size: 18px;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 28px;
}

main{
    min-height: 100vh;
}
/*NAV*/
nav {
    background-color: var(--primary);
    box-shadow: 0 3px 5px var(--black);
}

.navbar a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    /* Space between links */
    margin-right: 1.2em;
    margin-left: 1.2em;
    /* Position for underline animation */
    position: relative;
}

/* Underline slide in effect on hover */
.navbar a:not(.logo)::after {
    content: '';
    position: absolute; /* Position  pseudo-element */
    width: 0; /* Initial width for sliding animation */
    height: 2px; /* Set height for underline */
    background-color: var(--white);
    /*Align underline at bottom of link*/
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.navbar a:hover:not(.logo)::after {
    /* Expand  width on hover */
    width: 100%;
}

/*HERO*/
.hero-section{
    /*Image*/
    height: calc(50vh);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content{
    /*center content*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero-content>h1{
    margin-bottom: 1em;
}
/*HOME PAGE BUTTONS*/
.home-button{
    background-color: var(--action-colour);
    color: var(--white);
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 5px var(--black);
}
.home-button:hover{
    transition: .2s ease-in;
    background-color: var(--action-colour-hover);
}

/*ABOUT SECTION*/

.about-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: lightgrey;
    border: solid 2px var(--black);
    box-shadow: 0 3px 5px var(--black);

}
.about-content{
    background-color: var(--secondary);
    padding: 2em;
    /*Center Content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-content>h2{
    margin-bottom: 1em;
}
.about-image > img{
    border-left: solid 2px var(--black);
    height: 100%;
    width: 100%;
}

/*Stack columns*/
@media (max-width: 950px) {
    .about-container {
        grid-template-columns: 1fr;
        margin-bottom: 2em;
    }
    .about-content{
        font-size: 16px;
    }
    .about-content,
    .about-image {
        width: 100%;
    }
    .about-image > img {
        border-top: solid var(--black) 2px;
        object-fit: fill;
        max-height: 300px;
    }
}

/* FEATURED SECTION */
.feature-section {
    background-color: var(--secondary);
}

.feature-section-masthead {
    background-color: var(--primary);
    color: var(--white);
    padding: 3em;
    margin-bottom: 2em;
    box-shadow: 0 3px 5px var(--black);
}

/* Product Cards */
.featured-products {
    padding-right: 4em;
    padding-left: 4em;
}

.featured-products ul.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.woocommerce ul.products li.product {
    height: 500px;
    width: auto;
}

/* Media Query for stacking products at 980px and lower */
@media screen and (max-width: 980px) {
    .featured-products ul.products {
        flex-direction: column; /* Stack the products vertically */
        align-items: center; /* Center align the stacked products */
    }

    .woocommerce ul.products li.product {
        height: auto; /* Reset height */
        width: auto; /* Reset width */
        margin-bottom: 2em; /* Add some space between stacked products */
    }
}


/*Featured Section Shop Link*/
.feature-section-footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 2em;
}
.feature-section-footer>a{
    margin-top: 1em;
    margin-bottom: 1em;
}

/*SHOP PAGE*/
.page-title{
    text-align: center;
}
.shop-body{
    padding: 6em;
}
/*product cards*/
/*product img*/
.woocommerce ul.products li.product a img{
   border-radius: 8px;
}
/*Sale icon*/
.woocommerce ul.products li.product .onsale{
    background-color: var(--action-colour);
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    color: var(--black);
    text-decoration: underline;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title:hover{
    transition: .2s ease-in-out;
    color: var(--action-colour-hover);
}
/*Button Styles*/
.woocommerce ul.products li.product .button{
    background-color: var(--action-colour);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 12px;
}
.woocommerce ul.products li.product > .button:hover{
    transition: .2s ease-in;
    background-color: var(--action-colour-hover);
}
.woocommerce a.added_to_cart{
    color: var(--black);
}
.woocommerce a.added_to_cart:hover {
    transition: .2s ease-in-out;
    color: var(--action-colour-hover);
}
/*FOOTER*/
footer{
    background-color: var(--primary);
    display: flex;
    padding: 1em 1em 0 1em;
}